/* * {
    box-sizing: border-box; 
} */

:root {
    --accent: #6fbf73;      /* vert sobre */
    --accent-dark: #4fa85a;
    --dark-green: #6d9662;
    --primary-green: #89b37c;
    --dark-text: #444;
    --light-bg: #fdfdfd;
}

body {
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    color: var(--dark-text);
}

ul {
    margin-top: 0px;
    /* margin-bottom: 0px; */
}

.cv-container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    display: flex;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* Sidebar (Gauche) */
.sidebar {
    width: 35%;
    background: #f9fafb;
    padding: 30px 20px;
    border-right: 2px solid #eee;
}

@media (max-width: 768px) {
    .cv-container { flex-direction: column; }
    .sidebar, .main-content { width: 100%; }
}

.profile-pic {
    width: 160px;
    height: 217px;
    border: 6px solid var(--primary-green);
    /* border-radius: 50%; */
    margin: 0 auto;
    overflow: hidden;
}

.profile-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    /* font-family: 'Dancing Script', cursive; */
    color: var(--primary-green);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.sidebar-title {
    color: var(--primary-green);
    border-bottom: 1px solid var(--primary-green);
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Contenu Principal (Droite) */
.main-content {
    width: 65%;
    padding: 30px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.job-title-container {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}


.content-block {
    margin-top: 50px;
}

.job-title {
    color: var(--primary-green);
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.section-title {
    color: var(--primary-green);
    /* text-transform: italic;
    font-family: 'Dancing Script', cursive; */
    font-size: 1.5rem;
}

.highlight {
    background-color: #89b37c22; /* Fond léger pour la section expérience */
    padding: 5px;
}

.experience-item {
    border-left: 4px solid #6fbf73;
    padding-left: 10px;
    margin-bottom: 30px;
}

.header-exp {
    display: flex;
    justify-content: space-between;
}

.age {
    display: flex;
    justify-content: center;
}

mark {
    background-color: var(--primary-green);
}

a {
    color: blue;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 20px;
    height: 20px; 
}

.clignote {
  animation: clignote 1.4s infinite;
  font-weight: 600;
  color: var(--primary-green);
}

@keyframes clignote {
  0%   { opacity: 1; }
  50%  { opacity: 0.3; }
  100% { opacity: 1; }
}

.tab-droits {
    height: 100px;
    width: 600px
}

.contact {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

.main-pages {
    /* width: 75%; */
    padding: 30px;
    background-color: cornsilk;
}

@media (max-width: 800px) {
    .main-pages { flex-direction: column; }
    .tab-droits, .topo, .autres-pages { width: 100%; }
}

/* Changer la couleur de toutes vos icônes en vert */
.fa-solid, .fa-brands {
    color: var(--dark-green);
    margin-right: 8px; /* Espace entre l'icône et le texte */
    font-size: 1.2rem;
}